<figure class="laptop">
    <div class="laptop__hero">
        <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="laptop__img">
    </div>
    <h2 class="laptop__name">{%PRODUCTNAME%}</h2>
    <p class="laptop__detail"><span class="emoji-left">🖥</span>${%SCREEN%}</p>
    <p class="laptop__detail"><span class="emoji-left">🧮</span>${%CPU%}</p>
    <div class="laptop__footer">
        <p class="laptop__price">${%PRICE%}</p>
        <a href="laptop?id={%ID%}" class="laptop__link">Check it out <span class="emoji-right">👉</span></a>
    </div>
</figure>